main.main
    .nav_main
        .nav_links
            a(href="#").nav_main_active Личные данные
            a(href="#") Мои сервисы
            a(href="#") Мой статус
        span Ваш ID: 1099
        
    section.service_table
        table.table_blur
            tr
                th Наименование
                th Количество
                th Использовано
                th Стоимость сервиса
                th Действия
            tr
                td ТОП объявления
                td 100
                td 27
                td 100 грн / 100 объявлений
                td +++
            tr
                td СМС рассылка
                td 2000
                td 120
                td 200 грн / 100 смс
                td +++
            tr
                td Парсер базы
                td 5 дней
                td 2
                td 200 грн / 1 день
                td +++
            tr
                td(colspan="5")

    
    section.service_balans
        .service_balans_recharge
            p Баланс 
                span 1250 грн
            .service_balans_input
                span Сумма перевода
                input(type="text")
            a(href="#") Пополнить баланс
        .service_balans_icons
            a(href="#"): i.fa.fa-envelope(aria-hidden='true') Перевести деньги 
        
            a(href="#"): i.fa.fa-envelope(aria-hidden='true') Купить сервис 
    section.service_money